<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - BTech.Web</title>
	<base href="~/" />

	<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
	<img src="https://lh3.googleusercontent.com/XGAFWh7M4Gvsn8UBAD41pm_S1WiCOpCCBxtgdeM1w1LD68F5SZZ5r4YoQynq97l-LcBDFdj3Uwk=s900" />
	@RenderBody()

	@RenderSection("scripts", required: false)
</body>
</html>
