<div style="border: 1px solid lightgray">
	<div class="col-lg-8">
		<h3>S&eacute;rie: {{serie?.tipoSerie}}</h3>
	</div>
	<div class="col-lg-4 text-center">
		<button class="btn btn-success" (click)="setConclusao()" [disabled]="concluido"><i class="fa fa-check"></i> Concluir</button>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>Ordem</td>
				<td>Nome do Exerc&iacute;cio</td>
				<td>Repeti&ccedil;&otilde;es</td>
				<td>Carga</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let e of serie?.exercicios">
				<td>{{e.ordem}}</td>
				<td>{{e.nomeExercicio}}</td>
				<td>{{e.repeticoes}}</td>
				<td>{{e.carga}}</td>
			</tr>
		</tbody>
	</table>
</div>