<div style="border: 1px solid darkgray; margin-bottom: 10px; padding-bottom:10px" *ngIf="ficha != undefined">
	<table class="table">
		<tr>
			<td><strong>Cliente:</strong> {{ficha?.cliente.nome}}</td>
			<td><strong>Matrícula:</strong> {{ficha?.cliente.matricula}}</td>
		</tr>
		<tr>
			<td><strong>Professor:</strong> {{ficha?.professor.nome}}</td>
			<td><strong>Data Treino:</strong></td>
		</tr>
	</table>
	
	

	<serie *ngFor="let s of ficha?.series" [idSerie]="s.id" [professor]="professor"></serie>

	<div *ngIf="professor && ficha?.series.length < 3" class="text-center">
		<button class="btn btn-success"><i class="fa fa-plus"></i> Inserir série</button>
	</div>
</div>